<form action="/import" enctype="multipart/form-data" method="post">
  <fieldset>
    <legend>Arquivo</legend>
    <input type="file" name="csv">
    <input type="submit" name="enviar">
  </fieldset>
</form>